.detail-img{
 
}

.detail-img img{
    height: 500px;
}

/* .cart-mobile{
  visibility: hidden;
  display: contents;
} */
.cart-mobile{
  display: none;
}

.cart-dt{
  display: block;
}




#slider-div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  
  #slider-div>div {
    margin: 8px;
  }
  
  .slider-label {
    position: absolute;
    background-color: #eee;
    padding: 4px;
    font-size: 0.75rem;
  }


  @media only screen and (max-width: 600px) {
    
    .detail-img{
 
    }
    
    .detail-img img{
        height: 300px;
    }

    .cart-mobile{
      display: block;
    }
    
    .cart-dt{
      display: none;
    }
    
}